
/***************************************************
 * Text
 ***************************************************/

/* Import my preferred Google font */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* Set default text properties for all rendered HTML */
.rendered_html * {
    font-family: "PT Sans";
    color: #232333;
    font-size: 16px;
}

/***************************************************
 * Headings
 ***************************************************/

/* H1: Large blue type for top-level headings */
.rendered_html h1 {
    font-size: 36px;
    color: #0044CC !important;
    margin: 0;
}

/* H2: I use this for major sections. It is obnoxiously bold to
   make it easier to spot in long notebooks. */
.rendered_html h2 {
  font-size: 30px;
  line-height: 40px;
  color: #232333;
  text-align: center;
  margin: 30px 0;
  border-width: 10px 0;
  border-style: solid;
  border-color: #BB0000 #000000 #666666 #000000;
  padding: 30px 0;
  background-color: #DDDDDD;
}

.rendered_html h3 {
    font-size: 24px;
    color: #0044CC;
}

/***************************************************
 * Horizontal Rule
 ***************************************************/

/* By default, horizontal rules are not very easy to spot,
   given that notebook cells are also characterized by thin
   horizontal lines. */
.rendered_html hr {
  color: #FFFFFF;
  background-color: #FFFFFF;
  border-top: 10px dotted #CCCCCC;
  width: 50%;
  height: 0;
}

/***************************************************
 * Code blocks
 ***************************************************/

/* This style is applicable to inline code enclosed within
   single, double, or triple backticks. */
.rendered_html code {
  background-color: #eeddcc;
  color: #006622;
  font-weight: bold;
  padding: 2px;
}

/***************************************************
 * Table cells
 ***************************************************/
.rendered_html td {
  font-size: 12px;
}
.rendered_html th {
  font-size: 12px;
}

/*DL, DT, DD TAGS LIST DATA*/
dl {
  border: 1px solid red;
  padding: 10px;
  background-color: #FFCCCC;
}
 
dl dt {
  color: #000000;
  font-weight: bold; 
}
 
dl dd {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin: 0 0 0 0; 
}
